@inherits ConTransaksi_1<uimT6PenugasanArmada, svcPenugasanArmada>
@namespace bwaAvernus.Client._2._Transaksi
@using Pantheon.Shared.UIModels;
@using bwaAvernus.Shared._2._Transaksi;
@using bwaAvernus._1._Master;
@using bwaCrixalis.Client._1._Master;
@{
	base.BuildRenderTree(__builder);
	RfDetil = 
    @<DxFormLayout CssClass="custom-form-layout" Id="scRute">
        <DxFormLayout CssClass="sticky-row-1 w-100 sc" Id="sticky-row-1">
            <DxFormLayoutItem @ref="@FliCompany" Caption="Kode" ColSpanMd="3">
                <DxComboBox @ref="@CmbCompany"
                            Data="@DtCmbCompany"
                            Value="@DrCmbCompany"
                            TextFieldName="IdCompany"
                            CssClass="cw-480 font_0" NullText=""
                            DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0"
                            ValueChanged="@((uimT0Company company) => CmbCompany_Dipilih(company))"
                            tabindex="1">
                    <DxListEditorColumn FieldName="IdCompany" Caption="IdCompany" />
                    <DxListEditorColumn FieldName="Inisial" Caption="Inisial" />
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="@FliIdTransaksi" Caption="" ColSpanMd="3">
                <DxTextBox @ref="@TxbIdTransaksi" @bind-Text="DtRekapitulasi_Terseleksi.IdTransaksi" NullText="tampil setelah simpan" ReadOnly=true
                           tabindex="2">
                </DxTextBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="@FliWaktuProses" Caption="Proses" ColSpanMd="6">
                <DxDateEdit @ref="@DteWaktuProses"
                            Date="@DtRekapitulasi_Terseleksi.WaktuProses"
                            DateExpression="@(() => DtRekapitulasi_Terseleksi.WaktuProses)"
                            DateChanged="@(async (DateTimeOffset? valueBaru) => await ProsesSimpan_Draft(nameof(DtRekapitulasi_Terseleksi.WaktuProses), valueBaru))"
                            Mask="dddd, dd MMMM yyyy  HH:mm"
                            CssClass="dteCustom"
                            tabindex="3">
                </DxDateEdit>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="@FliArmada" Caption="Armada" ColSpanMd="6">
                <DxComboBox @ref="@CmbArmada" FilteringMode="DataGridFilteringMode.Contains"
                            Data="@DtCmbArmada"
                            Value="@DrCmbArmada"
                            TextFieldName="Nopol"
                            CssClass="cw-480 font_0"
                            ValueChanged="@((uimT1Armada armada) => CmbArmada_Dipilih(armada))"
                            DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0"
                            tabindex="6">
                    <DxListEditorColumn FieldName="Nopol" Caption="Nopol" />
                    <DxListEditorColumn FieldName="Merk" Caption="Merk" />
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="@FliSopir" Caption="Sopir" ColSpanMd="6">
                <DxComboBox @ref="@CmbSopir" FilteringMode="DataGridFilteringMode.Contains"
                            Data="@DtCmbSopir"
                            Value="@DrCmbSopir"
                            TextFieldName="NamaSopir"
                            CssClass="cw-480 font_0"
                            DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0"
                            ValueChanged="@((uimT5ArmadaSopir sopir) => CmbSopir_Dipilih(sopir))"
                            tabindex="7">
                    <DxListEditorColumn FieldName="NamaSopir" Caption="Nama Panggilan" />
                    <DxListEditorColumn FieldName="Seluler1" Caption="Keterangan" />
                </DxComboBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem ColSpanMd="2">
                <DxButton CssClass="w-100"
                          RenderStyleMode="@ButtonRenderStyleMode.Text"
                          Text="Rute" Click="@(() => ProsesPilihTab_Detil("scRute", "scRute"))" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="2">
                <DxButton CssClass="w-100"
                          RenderStyleMode="@ButtonRenderStyleMode.Text"
                          Text="BBM + Sangu" Click="@(() => ProsesPilihTab_Detil("scRute", "scBBM"))" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="3">
                <DxButton CssClass="w-100"
                          RenderStyleMode="@ButtonRenderStyleMode.Text"
                          Text="Detil Armada" Click="@(() => ProsesPilihTab_Detil("scRute", "scArmada"))" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="3">
                <DxButton CssClass="w-100"
                          RenderStyleMode="@ButtonRenderStyleMode.Text"
                          Text="Detil Sopir" Click="@(() => ProsesPilihTab_Detil("scRute", "scSopir"))" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="2">
                <DxButton CssClass="w-100"
                          RenderStyleMode="@ButtonRenderStyleMode.Text"
                          Text="Aktivitas" Click="@(() => ProsesPilihTab_Detil("scRute", "scAktifitas"))" />
            </DxFormLayoutItem>
        </DxFormLayout>
        
        <DxFormLayout CssClass="sc">
            <DxFormLayoutItem @ref="@FliCustomer" Caption="Customer" ColSpanMd="12">
                <DxComboBox @ref="@CmbCustomer" FilteringMode="DataGridFilteringMode.Contains"
                            Data="@DtCmbCustomer"
                            Value="@DrCmbCustomer"
                            TextFieldName="Nama"
                            CssClass="cw-480 font_0"
                            ValueChanged="@((uimT1CustomerInstansi customer) => CmbCustomer_Dipilih(customer))"
                            DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0"
                            tabindex="4">
                    <DxListEditorColumn FieldName="Customer" Caption=""/>
                    <DxListEditorColumn FieldName="Kota" Caption="" />
                    <DxListEditorColumn FieldName="Inisial" Caption="" />
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="@FliAlamatCustomer" Caption="Alamat" ColSpanMd="12">
                <DxComboBox @ref="@CmbAlamatCustomer" FilteringMode="DataGridFilteringMode.Contains"
                            Data="@DtCmbAlamatCustomer"
                            Value="@DrCmbAlamatCustomer"
                            TextFieldName="Alamat"
                            CssClass="cw-480 font_0"
                            ValueChanged="@((uimT2AlamatCustomer alamatCustomer) => CmbAlamatCustomer_Dipilih(alamatCustomer))"
                            DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0"
                            tabindex="5">
                    <DxListEditorColumn FieldName="Alamat" Caption="Alamat" />
                    <DxListEditorColumn FieldName="KodePos" Caption="Kode Pos" />
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="@FliRute" Caption="Rute" ColSpanMd="12">
                <DxComboBox @ref="@CmbRute" FilteringMode="DataGridFilteringMode.Contains"
                            Data="@DtCmbRute"
                            Value="@DrCmbRute"
                            TextFieldName="Rute"
                            CssClass="cw-480 font_0"
                            DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0"
                            ValueChanged="@((uimT3Rute rute) => CmbRute_Dipilih(rute))"
                            tabindex="6">
                    <DxListEditorColumn FieldName="Rute" Caption="Rute" />
                    <DxListEditorColumn FieldName="Jenis" Caption="Jenis" />
                </DxComboBox>
            </DxFormLayoutItem>
        </DxFormLayout>

        <DxFormLayout Id="scBBM" CssClass="sc">

            <DxFormLayoutItem @ref="FliSanguRitase" Caption="Sangu Ritase" ColSpanMd="12">
                <DxSpinEdit @ref="SpeSanguRitase" InputId="0.0, 8.0" tabindex="7"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase)"
                            ValueChanged="@(async (decimal? valueBaru) => DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase = (int?)valueBaru)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliTotalSangu" Caption="Total Sangu" ColSpanMd="12">
                <DxSpinEdit @ref="SpeTotalSangu" InputId="0.0, 8.0" tabindex="8"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase)"
                            ValueChanged="@(async (decimal? valueBaru) => DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase = (int?)valueBaru)" />
            </DxFormLayoutItem>

            <DxFormLayoutItem @ref="FliBBMVolume" Caption="BBM Volume" ColSpanMd="12">
                <DxSpinEdit @ref="SpeBBMVolume" InputId="0.0, 8.0" tabindex="9"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.BBMVolume)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.BBMVolume)"
                            ValueChanged="@(async (decimal? valueBaru) => DtRekapitulasi_Terseleksi.T7PenugasanArmada.BBMVolume = (int?)valueBaru)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliBBMHarga" Caption="BBM Harga " ColSpanMd="12">
                <DxSpinEdit @ref="SpeBBMHarga" InputId="0.0, 8.0" tabindex="10"
                            Value="@DtRekapitulasi_Terseleksi.T7PenugasanArmada.BBMHarga" ReadOnly="true"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.BBMHarga)"
                            ValueChanged="@(async (decimal? valueBaru) => DtRekapitulasi_Terseleksi.T7PenugasanArmada.BBMHarga = (int?)valueBaru)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliBBMSangu" Caption="BBM + Sangu" ColSpanMd="12">
                <DxSpinEdit @ref="SpeBBMSangu" InputId="0.0, 8.0" tabindex="11"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase)" />
            </DxFormLayoutItem>

            <DxFormLayoutItem @ref="FliDeposit" Caption="Deposit" ColSpanMd="12">
                <DxSpinEdit @ref="SpeDeposit" InputId="0.0, 8.0" tabindex="12"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.Deposit)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.Deposit)"
                            ValueChanged="@(async (decimal? valueBaru) => DtRekapitulasi_Terseleksi.T7PenugasanArmada.Deposit = (int?)valueBaru)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliPotongan" Caption="Potongan" ColSpanMd="12">
                <DxSpinEdit @ref="SpePotongan" InputId="0.0, 8.0" tabindex="13"
                            Value="@((decimal?)Potongan)"
                            ValueExpression="@(() => (decimal?)Potongan)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliTotalAkhir" Caption="Total Akhir" ColSpanMd="12">
                <DxSpinEdit @ref="SpeTotalAkhir" InputId="0.0, 8.0" tabindex="14"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.TotalAkhir)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.TotalAkhir)"
                            ValueChanged="@(async (decimal? valueBaru) => DtRekapitulasi_Terseleksi.T7PenugasanArmada.TotalAkhir = (int?)valueBaru)" />
            </DxFormLayoutItem>

            <DxFormLayoutItem @ref="FliSanguSementara" Caption="Sangu Sementara" ColSpanMd="12">
                <DxSpinEdit @ref="SpeSanguSementara" InputId="0.0, 8.0" tabindex="15"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguSementara)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguSementara)"
                            ValueChanged="@(async (decimal? valueBaru) => DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguSementara = (int?)valueBaru)" />
            </DxFormLayoutItem>

            <br/>
            <br />
            <DxGrid style="margin:15px !important;" @ref="@GrdT7PenugasanArmada_SPBU"
                    Data="@(DtGrdT7PenugasanArmada_SPBU.Adapt<IList<uimT7PenugasanArmada_SPBU>>())"
                    KeyFieldName="@nameof(uimT7PenugasanArmada_SPBU.IdDetilPenugasanArmada)"
                    CustomizeElement="GrdDetil_CustomizeElement"
                    CustomizeEditModel="@(GrdDetil_CustomizeEditModel<uimT7PenugasanArmada_SPBU>)"
                    EditModelSaving="@(GrdDetil_EditModelSaving<uimT7PenugasanArmada_SPBU, T7PenugasanArmada_SPBU>)"
                    EditMode="GridEditMode.EditForm"
                    EditNewRowPosition="GridEditNewRowPosition.Bottom"
                    SelectionMode="GridSelectionMode.Single"
                    @oncontextmenu:preventDefault>
                <Columns>
                    <DxGridCommandColumn Width="10px">
                        <HeaderTemplate>
                            <a class="fa-solid fa-plus text-decoration-none" @onclick="@(() => GrdT7PenugasanArmada_SPBU.StartEditNewRowAsync())"></a>
                        </HeaderTemplate>
                        <CellDisplayTemplate>
                            <a class="fa-solid fa-pencil text-decoration-none pr-1" @onclick="@(() => GrdT7PenugasanArmada_SPBU.StartEditRowAsync(context.VisibleIndex))"></a>
                            <a class="fa-solid fa-trash-can text-decoration-none" @onclick="@(() =>  GrdDetil_OnHapus<uimT7PenugasanArmada_SPBU, T7PenugasanArmada_SPBU>((uimT7PenugasanArmada_SPBU)context.DataItem))"></a>
                        </CellDisplayTemplate>
                    </DxGridCommandColumn>
                    <DxGridDataColumn FilterRowEditorVisible="false" ShowInColumnChooser="false" Width="10px">
                        <CellDisplayTemplate>
                            @(context.VisibleIndex + 1)
                        </CellDisplayTemplate>
                    </DxGridDataColumn>

                    <DxGridDataColumn FieldName="BBMVolume" Caption="BBM Volume" />
                    <DxGridDataColumn FieldName="Kode1" Caption="Kode" />
                    <DxGridDataColumn FieldName="Kode2" Caption="Kode Manual" />
                </Columns>
                <EditFormTemplate Context="ctxT7PenugasanArmada_SPBU">
                    @{
                            var edm = (uimT7PenugasanArmada_SPBU)ctxT7PenugasanArmada_SPBU.EditModel;
                    }
                    <DxFormLayout>
                        <DxFormLayoutItem Caption="BBM Volume" CaptionPosition="CaptionPosition.Vertical" ColSpanMd="12">
                            <DxSpinEdit TValue="int?" @bind-Value="@edm.BBMVolume" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Kode Manual" CaptionPosition="CaptionPosition.Vertical" ColSpanMd="12">
                            <DxTextBox @bind-Text="@edm.Kode2" />
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </EditFormTemplate>
            </DxGrid>
            <DxFormLayoutItem @ref="FliBBMMetode" Caption="BBM Metode" ColSpanMd="12">
                <DxComboBox @ref="@CmbBBMMetode" Data="@DtCmbBBMMetode" Value="@DrCmbBBMMetode"
                            tabindex="16" TextFieldName="DataOption"
                            ValueChanged="@((pthT9DataOption metodeBBM) => CmbBBMMetode_Dipilih(metodeBBM))"
                            CssClass="cw-480 font_0" DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0">
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliRekening" Caption="Rekening" ColSpanMd="12">
                <DxComboBox @ref="@CmbRekening" Data="@DtCmbRekening" Value="@DrCmbRekening" tabindex="17"
                            TextFieldName="Rekening"
                            ValueChanged="@((pthT0Rekening rekening) => CmbRekening_Dipilih(rekening))"
                            CssClass="cw-480 font_0" DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0">
                    <DxListEditorColumn FieldName="Rekening" Caption="Rekening" />
                    <DxListEditorColumn FieldName="Alias" Caption="Alias" />
                </DxComboBox>
            </DxFormLayoutItem>
            
        </DxFormLayout>

        <DxFormLayout Id="scArmada" CssClass="sc">
            <DxFormLayoutItem Caption="Jenis Armada" ColSpanMd="8">
                <DxTextBox Text="@DtRekapitulasi_Terseleksi.JenisArmada_Jenis" NullText="" ReadOnly=true>
                </DxTextBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Foto Armada" ColSpanMd="4">
                <RadzenImage Path="@UrlGambarArmada" Style="width:150px; height:150px;" />
            </DxFormLayoutItem>
        </DxFormLayout>
        
        <DxFormLayout Id="scSopir" CssClass="sc">
            <DxFormLayoutItem Caption="Seluler" ColSpanMd="9">
                <DxTextBox Text="@DtRekapitulasi_Terseleksi.Karyawan_Sopir_Seluler1" NullText="" ReadOnly=true>
                </DxTextBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Foto Sopir" ColSpanMd="3">
                <RadzenImage Path="@UrlGambarSopir" Style="width:150px; height:150px;" />
            </DxFormLayoutItem>
        </DxFormLayout>
        <DxFormLayout Id="scAktifitas" CssClass="sc">
            <DxGrid Data="@DtGrdInformasi"
                    ColumnResizeMode="GridColumnResizeMode.NextColumn"
                    SelectionMode="GridSelectionMode.Single"
                    PageSize="1000"
                    @oncontextmenu:preventDefault>
                <Columns>
                    <DxGridDataColumn FieldName="@nameof(uimLog.NamaPanggilan)" Caption="User" Width="8em" />
                    <DxGridDataColumn FieldName="@nameof(uimLog.Aktivitas)" Caption="@FH.SplitPascalCase(nameof(uimLog.Aktivitas))" />/>
                    <DxGridDataColumn FieldName="@nameof(uimLog.ApplicationName)" Caption="@FH.SplitPascalCase(nameof(uimLog.ApplicationName))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.Client)" Caption="@FH.SplitPascalCase(nameof(uimLog.Client))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.ExecutablePath)" Caption="@FH.SplitPascalCase(nameof(uimLog.ExecutablePath))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.IdCompany)" Caption="@FH.SplitPascalCase(nameof(uimLog.IdCompany))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.IdKaryawan)" Caption="@FH.SplitPascalCase(nameof(uimLog.IdKaryawan))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.IdLog)" Caption="@FH.SplitPascalCase(nameof(uimLog.IdLog))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.Inisial)" Caption="@FH.SplitPascalCase(nameof(uimLog.Inisial))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.IPv4)" Caption="@FH.SplitPascalCase(nameof(uimLog.IPv4))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.IPv6)" Caption="@FH.SplitPascalCase(nameof(uimLog.IPv6))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.Jabatan)" Caption="@FH.SplitPascalCase(nameof(uimLog.Jabatan))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.Kolom)" Caption="@FH.SplitPascalCase(nameof(uimLog.Kolom))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.MacAddress)" Caption="@FH.SplitPascalCase(nameof(uimLog.MacAddress))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.IdPrimaryKey)" Caption="@FH.SplitPascalCase(nameof(uimLog.IdPrimaryKey))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.Tabel)" Caption="@FH.SplitPascalCase(nameof(uimLog.Tabel))" Visible=false />
                    <DxGridDataColumn FieldName="@nameof(uimLog.WaktuInsert)" Caption="Proses" DisplayFormat="dd MMM yy - hh\:mm" GroupIndex="0" GroupInterval="GridColumnGroupInterval.Custom" />
                </Columns>
            </DxGrid>
        </DxFormLayout>
	</DxFormLayout>;

        
}
<style>
    .sticky-row-1 {
        opacity: 100 !important;
        position: -webkit-sticky !important;
        position: sticky;
        top: @outerHeightTopHeaderCaption; /* Sesuaikan dengan tinggi header Anda */
        z-index: 10000;
        background-color: white !important;
    }

    .sticky-row-2 {
        opacity: 1 !important;
        position: -webkit-sticky !important;
        position: sticky;
        z-index: 9999;
        top: @outerHeight;
        background-color: white !important;

    }

    .sc{
        margin: 2vh !important;
    }
</style>

<style>
    .sc > .dxbl-row > .dxbl-fl-item > .dxbl-fl-ctrl > .dxbl-text-edit {
        border: none !important;
        border-radius: 0px !important;
    }

    .sc > .dxbl-row > .dxbl-fl-item > .dxbl-fl-ctrl > .dxbl-btn-group-right {
        visibility: hidden !important
    }

    .sc > .dxbl-row > .dxbl-fl-item > .dxbl-fl-ctrl > .dxbl-text-edit:hover > .dxbl-btn-group-right {
        visibility: visible !important;
        border: none !important;
        border-bottom: none !important;
    }

    .sc > .dxbl-row > .dxbl-fl-item > .dxbl-fl-ctrl > .dxbl-text-edit:hover {
        border-bottom: 1px solid #AAAAAA !important;
    }

    .sc > .dxbl-row > .dxbl-fl-item > .dxbl-fl-ctrl > .dxbl-text-edit.dxbl-readonly:hover {
        border-bottom : none !important;
    }


    .sc > .dxbl-row > .dxbl-fl-item > .dxbl-fl-ctrl > .dxbl-text-edit > .dxbl-btn-group-vertical > .dxbl-btn:not(.dxbl-btn.dxbl-edit-btn-clear,.dxbl-btn.dxbl-btn-icon), .dxbl-text-edit > .dxbl-btn-group > .dxbl-btn:not(.dxbl-btn.dxbl-edit-btn-clear,.dxbl-btn.dxbl-btn-icon), .dxbl-text-edit > .dxbl-btn:not(.dxbl-btn.dxbl-edit-btn-clear,.dxbl-btn.dxbl-btn-icon) {
        border: none !important;
    }
</style>
