@inherits ConTransaksi_1<uimT6PenugasanArmada, svcPenugasanArmada>
@namespace bwaAvernus.Client._2._Transaksi
@using bwaAvernus.Shared._2._Transaksi;
@{
	base.BuildRenderTree(__builder);
	RfDetil = 
    @<DxFormLayout CssClass="custom-form-layout" Id="scRute">
        <DxFormLayout CssClass="sticky-row-1 w-100 sc" Id="sticky-row-1">
            <DxFormLayoutItem @ref="@FliIdCompany" Caption="Kode" ColSpanMd="3">
                <DxComboBox @ref="@CmbIdCompany"
                            Data="@DtCmbIdCompany"
                            @bind-Value="@DrCmbIdCompany"
                            TextFieldName="IdCompany"
                            CssClass="cw-480 font_0"
                            DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0"
                            tabindex="1">
                    <DxListEditorColumn FieldName="IdCompany" Caption="IdCompany" />
                    <DxListEditorColumn FieldName="Inisial" Caption="Inisial" />
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="@FliIdTransaksi" Caption="" ColSpanMd="3">
                <DxTextBox @ref="@TxbIdTransaksi" @bind-Text="DtRekapitulasi_Terseleksi.IdTransaksi" NullText="tampil setelah simpan" ReadOnly=true
                           tabindex="2">
                </DxTextBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="@FliWaktuProses" Caption="Proses" ColSpanMd="6">
                <DxDateEdit @ref="@DteWaktuProses"
                            Date="@DtRekapitulasi_Terseleksi.WaktuProses"
                            DateExpression="@(() => DtRekapitulasi_Terseleksi.WaktuProses)"
                            DateChanged="@(async (DateTimeOffset? valueBaru) => await ProsesSimpan_Draft(nameof(DtRekapitulasi_Terseleksi.WaktuProses), valueBaru))"
                            Mask="dddd, dd MMMM yyyy  HH:mm"
                            CssClass="dteCustom"
                            tabindex="3">
                </DxDateEdit>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="@FliArmada" Caption="Armada" ColSpanMd="6">
                <DxComboBox @ref="@CmbArmada" FilteringMode="DataGridFilteringMode.Contains" TData="object" TValue="object"
                            Data="@DtCmbArmada"
                            Value="@DrCmbArmada"
                            TextFieldName="Nopol"
                            CssClass="cw-480 font_0"
                            ValueChanged="@((object armada) => CmbArmada_Dipilih(armada))"
                            DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0"
                            tabindex="6">
                    <DxListEditorColumn FieldName="Nopol" Caption="Nopol" />
                    <DxListEditorColumn FieldName="Merk" Caption="Merk" />
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="@FliSopir" Caption="Sopir" ColSpanMd="6">
                <DxComboBox @ref="@CmbSopir" FilteringMode="DataGridFilteringMode.Contains"
                            Data="@DtCmbSopir"
                            @bind-Value="@DrCmbSopir"
                            TextFieldName="NamaSopir"
                            CssClass="cw-480 font_0"
                            DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0"
                            tabindex="7">
                    <DxListEditorColumn FieldName="NamaLengkap" Caption="Nama Panggilan" />
                    <DxListEditorColumn FieldName="Seluler1" Caption="GSM Phone" />
                </DxComboBox>
            </DxFormLayoutItem>
        </DxFormLayout>
        
        <DxFormLayout CssClass="sticky-row-2 w-100" Id="sticky-row-2">
            <DxFormLayoutItem ColSpanMd="3">
                <DxButton CssClass="w-100"
                          RenderStyleMode="@ButtonRenderStyleMode.Text"
                          Text="Rute" Click="@(() => ProsesPilihTab_Detil("scRute"))" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="3">
                <DxButton CssClass="w-100"
                          RenderStyleMode="@ButtonRenderStyleMode.Text"
                          Text="BBM" Click="@(() => ProsesPilihTab_Detil("scBBM"))" />
            </DxFormLayoutItem>

            <DxFormLayoutItem ColSpanMd="3">
                <DxButton CssClass="w-100"
                          RenderStyleMode="@ButtonRenderStyleMode.Text"
                          Text="Detil Armada" Click="@(() => ProsesPilihTab_Detil("scArmada"))" />
            </DxFormLayoutItem>

            <DxFormLayoutItem ColSpanMd="3">
                <DxButton CssClass="w-100"
                          RenderStyleMode="@ButtonRenderStyleMode.Text"
                          Text="Detil Sopir" Click="@(() => ProsesPilihTab_Detil("scSopir"))" />
            </DxFormLayoutItem>
        </DxFormLayout>
        <DxFormLayout CssClass="sc">
            <DxFormLayoutItem @ref="@FliCustomer" Caption="Customer" ColSpanMd="12">
                <DxComboBox @ref="@CmbCustomer" FilteringMode="DataGridFilteringMode.Contains"
                            Data="@DtCmbCustomer"
                            @bind-Value="@DrCmbCustomer"
                            TextFieldName="Nama"
                            CssClass="cw-480 font_0"
                            DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0"
                            tabindex="4">
                    <DxListEditorColumn FieldName="Prefix" Caption="Prefix" />
                    <DxListEditorColumn FieldName="Nama" Caption="Nama" />
                    <DxListEditorColumn FieldName="Kode" Caption="Kode" />
                    <DxListEditorColumn FieldName="Inisial" Caption="Inisial" />
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="@FliAlamatCustomer" Caption="Alamat" ColSpanMd="12">
                <DxComboBox @ref="@CmbAlamatCustomer" FilteringMode="DataGridFilteringMode.Contains"
                            Data="@DtCmbAlamatCustomer"
                            @bind-Value="@DrCmbAlamatCustomer"
                            TextFieldName="Alamat"
                            CssClass="cw-480 font_0"
                            DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0"
                            tabindex="5">
                    <DxListEditorColumn FieldName="Alamat" Caption="Alamat" />
                    <DxListEditorColumn FieldName="KodePos" Caption="Kode Pos" />
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="@FliRute" Caption="Rute" ColSpanMd="12">
                <DxComboBox @ref="@CmbRute" FilteringMode="DataGridFilteringMode.Contains"
                            Data="@DtCmbRute"
                            @bind-Value="@DrCmbRute"
                            TextFieldName="Rute"
                            CssClass="cw-480 font_0"
                            DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0"
                            
                            tabindex="6">
                    <DxListEditorColumn FieldName="Rute" Caption="Rute" />
                    <DxListEditorColumn FieldName="Jenis" Caption="Jenis" />
                </DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliSanguRitase" Caption="Sangu Ritase" ColSpanMd="12">
                <DxSpinEdit @ref="SpeSanguRitase" InputId="0.0, 8.0" tabindex="7"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase)"
                             />
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliTotalSangu" Caption="Total Sangu" ColSpanMd="12">
                <DxSpinEdit @ref="SpeTotalSangu" InputId="0.0, 8.0" tabindex="8"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase)"
                            ValueChanged="@(async (decimal? valueBaru) => await ProsesSimpan_Draft(nameof(DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase), (int?)valueBaru))" />
            </DxFormLayoutItem>
            
            <DxFormLayoutItem @ref="FliDeposit" Caption="Deposit" ColSpanMd="12">
                <DxSpinEdit @ref="SpeDeposit" InputId="0.0, 8.0" tabindex="12"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.Deposit)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.Deposit)"
                            />
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliPotongan" Caption="Potongan" ColSpanMd="12">
                <DxSpinEdit @ref="SpePotongan" InputId="0.0, 8.0" tabindex="13"
                            Value="@((decimal?)Potongan)"
                            ValueExpression="@(() => (decimal?)Potongan)" />
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliTotalAkhir" Caption="Total Akhir" ColSpanMd="12">
                <DxSpinEdit @ref="SpeTotalAkhir" InputId="0.0, 8.0" tabindex="14"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.TotalAkhir)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.TotalAkhir)"/>
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliSanguSementara" Caption="Sangu Sementara" ColSpanMd="12">
                <DxSpinEdit @ref="SpeSanguSementara" InputId="0.0, 8.0" tabindex="15"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguSementara)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguSementara)"/>
            </DxFormLayoutItem>
        </DxFormLayout>
        <br/>
        <DxFormLayout Id="scBBM" CssClass="sc">
            <DxGrid style="margin-left:15px !important; margin-right:15px !important;" @ref="@GrdT7PenugasanArmada_SPBU"
                    Data="@(DtGrdT7PenugasanArmada_SPBU.Adapt<IList<uimT7PenugasanArmada_SPBU>>())"
                    KeyFieldName="@nameof(uimT7PenugasanArmada_SPBU.IdDetilPenugasanArmada)"
                    CustomizeElement="GrdDetil_CustomizeElement"
                    CustomizeEditModel="@(GrdDetil_CustomizeEditModel<uimT7PenugasanArmada_SPBU>)"
                    EditModelSaving="@(GrdDetil_EditModelSaving<uimT7PenugasanArmada_SPBU, T7PenugasanArmada_SPBU>)"
                    EditMode="GridEditMode.EditForm"
                    EditNewRowPosition="GridEditNewRowPosition.Bottom"
                    SelectionMode="GridSelectionMode.Single"
                    @oncontextmenu:preventDefault>
                <Columns>
                    <DxGridCommandColumn Width="10px">
                        <HeaderTemplate>
                            <a class="fa-solid fa-plus text-decoration-none" @onclick="@(() => GrdT7PenugasanArmada_SPBU.StartEditNewRowAsync())"></a>
                        </HeaderTemplate>
                        <CellDisplayTemplate>
                            <a class="fa-solid fa-pencil text-decoration-none pr-1" @onclick="@(() => GrdT7PenugasanArmada_SPBU.StartEditRowAsync(context.VisibleIndex))"></a>
                            <a class="fa-solid fa-trash-can text-decoration-none" @onclick="@(() =>  GrdDetil_OnHapus<uimT7PenugasanArmada_SPBU, T7PenugasanArmada_SPBU>((uimT7PenugasanArmada_SPBU)context.DataItem))"></a>
                        </CellDisplayTemplate>
                    </DxGridCommandColumn>
                    <DxGridDataColumn FilterRowEditorVisible="false" ShowInColumnChooser="false" Width="10px">
                        <CellDisplayTemplate>
                            @(context.VisibleIndex + 1)
                        </CellDisplayTemplate>
                    </DxGridDataColumn>

                    <DxGridDataColumn FieldName="BBMVolume" Caption="BBM Volume" />
                    <DxGridDataColumn FieldName="Kode1" Caption="Kode" />
                    <DxGridDataColumn FieldName="Kode2" Caption="Kode Manual" />
                </Columns>
                <EditFormTemplate Context="ctxT7PenugasanArmada_SPBU">
                    @{
                            var edm = (uimT7PenugasanArmada_SPBU)ctxT7PenugasanArmada_SPBU.EditModel;
                    }
                    <DxFormLayout>
                        <DxFormLayoutItem Caption="BBM Volume" CaptionPosition="CaptionPosition.Vertical" ColSpanMd="12">
                            <DxSpinEdit TValue="int?" @bind-Value="@edm.BBMVolume" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Kode Manual" CaptionPosition="CaptionPosition.Vertical" ColSpanMd="12">
                            <DxTextBox @bind-Text="@edm.Kode2" />
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </EditFormTemplate>
            </DxGrid>
            <br />
            

            <DxFormLayoutItem @ref="FliBBMVolume" Caption="BBM Volume" ColSpanMd="12">
                <DxSpinEdit @ref="SpeBBMVolume" InputId="0.0, 8.0" tabindex="9"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.BBMVolume)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.BBMVolume)"
                             />
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliBBMHarga" Caption="BBM Harga " ColSpanMd="12">
                <DxSpinEdit @ref="SpeBBMHarga" InputId="0.0, 8.0" tabindex="10"
                            Value="@DtRekapitulasi_Terseleksi.T7PenugasanArmada.BBMHarga" ReadOnly="true"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.BBMVolume)"
                             />
            </DxFormLayoutItem>
            <DxFormLayoutItem @ref="FliBBMSangu" Caption="BBM + Sangu" ColSpanMd="12">
                <DxSpinEdit @ref="SpeBBMSangu" InputId="0.0, 8.0" tabindex="11"
                            Value="@((decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase)"
                            ValueExpression="@(() => (decimal?)DtRekapitulasi_Terseleksi.T7PenugasanArmada.SanguRitase)"
                             />
            </DxFormLayoutItem>

            <DxFormLayoutItem @ref="FliBBMMetode" Caption="BBM Metode" ColSpanMd="12">
                <DxComboBox @ref="@CmbBBMMetode" Data="@DtCmbBBMMetode" @bind-Value="@DrCmbBBMMetode"
                            tabindex="16" TextFieldName="DataOption"
                            CssClass="cw-480 font_0" DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0">
                </DxComboBox>
            </DxFormLayoutItem>

            <DxFormLayoutItem @ref="FliRekening" Caption="Rekening" ColSpanMd="12">
                <DxComboBox @ref="@CmbRekening" Data="@DtCmbRekening" @bind-Value="@DrCmbRekening" tabindex="17"
                            TextFieldName="Rekening"
                            CssClass="cw-480 font_0" DropDownBodyCssClass="font_0" DropDownCssClass="font_0" InputCssClass="font_0">
                    <DxListEditorColumn FieldName="Rekening" Caption="Rekening" />
                    <DxListEditorColumn FieldName="Alias" Caption="Alias" />
                </DxComboBox>
            </DxFormLayoutItem>
        </DxFormLayout>

        <DxFormLayout Id="scArmada" CssClass="sc">
            <DxFormLayoutItem Caption="Jenis Armada" ColSpanMd="8">
                <DxTextBox Text="@DtRekapitulasi_Terseleksi.JenisArmada_Jenis" NullText="" ReadOnly=true>
                </DxTextBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Foto Armada" ColSpanMd="4">
                <RadzenImage Path="@UrlGambarArmada" Style="width:150px; height:150px;" />
            </DxFormLayoutItem>
        </DxFormLayout>
        
        <DxFormLayout Id="scSopir" CssClass="sc">
            <DxFormLayoutItem Caption="Seluler" ColSpanMd="8">
                <DxTextBox Text="@DtRekapitulasi_Terseleksi.Karyawan_Sopir_Seluler1" NullText="" ReadOnly=true>
                </DxTextBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Foto Sopir" ColSpanMd="4">
                <RadzenImage Path="https://sdatafile.blob.core.windows.net/fortiscentral/Gambar/Karyawan/Default%20Profile.png" Style="width:150px; height:150px;" />
            </DxFormLayoutItem>
        </DxFormLayout>
        
	</DxFormLayout>;
}
<style>
    .sticky-row-1 {
        padding-top: 12px;
        padding-bottom: 12px;
        opacity: 1 !important;
        position: -webkit-sticky !important;
        position: sticky;
        top: 5.8vh; /* Sesuaikan dengan tinggi header Anda */
        z-index: 10000;
        background-color: white !important;
    }

    .sticky-row-2 {
        opacity: 1 !important;
        position: -webkit-sticky !important;
        position: sticky;
        z-index: 9999;
        top: @outerHeight;
        background-color: white !important;

    }

    .sc{
        margin: 2vh !important;
    }
</style>
