@inject Blazored.LocalStorage.ILocalStorageService _lss
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        
    </Found>

    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<MessageProvider></MessageProvider>

@code {
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        AlamatAPI ??= await _lss.GetItemAsync<string>("APIAddress");
        URL_AzureBlobStorage ??= await _lss.GetItemAsync<string>("CompanyBlob");
        if (!string.IsNullOrEmpty(AlamatAPI))
        {
            SetClientChannel();
        }
        await base.SetParametersAsync(parameters);
    }
}
